---
master-colors:
  - name: cowan blue
    hex: 7AB1E8
    rgba: 122. 177. 232. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: cowan blue 2
    hex: 9AD1D4
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan aqua
    hex: C1DFF0
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: cowan green
    hex: DDEDAA
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: cowan cream
    hex: FFE8D1
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: cowan pink
    hex: FFE8D1
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C

secondary-colors:
  - name: cowan grey
    hex: 828A95
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan light grey
    hex: DBDBDB
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan teal
    hex: BEE3DB
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan apricot
    hex: F7C59F
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan peach
    hex: F7C59F
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan lime
    hex: EDEEC0
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C

tints_shades:
  - name: cowan blue
    hex: 7ab1e8
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan blue -1
    hex: 69a7e5
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan blue -2
    hex: 599de2
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan blue -3
    hex: 4894df
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: cowan blue -4
    hex: 378adc
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C

gradients:
  - color1: fff
    color2: f848c4

collateral:
  - collateral-type: Stationery
    description: Suite of digital & print applications of the new identity.
    picture:
      - image_path: assets/placeholder-16x9.svg
        alt: placeholder
---
<!DOCTYPE html>
<html>
<head>
<title>Cowan Design System</title>
<link rel="stylesheet" href="styles/gridlex.min.css">

<!--Mobile Responsiveness-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Mobile Responsiveness-->

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
</head>

  <body>

  <!-- Header / Landing Page -->

    <header>
      <div>
        <a href="https://cowan.com.au" target="_blank">
          <img src="assets/cowan-logotype-white-1000px.svg" alt="Cowan">
        </a>
        <h1 class="editable">
          Brand Name
        </h1>
        <h2>
          Design System
        </h2>
        <a href="#blockquote"> <!--This id references Blockquote section & scrolls down -->
          <img src="assets/accordian_lge_down.svg" alt="">
        </a>
      </div>
    </header>

  <!-- Sticky Navigation -->

    <section class="navigation">
      <p class="editable">
        Brand Name
      </p>
      <a href="#identity">Identity</a>
      <a href="#visual-language">Visual Language</a>
      <a href="#collateral">Collateral</a>
      <a href="https://www.cowan.com/" target="_blank">
        <img src="assets/cowan-logo-navigation.svg" alt="Cowan">
      </a>
    </section>


  <!-- Blockquote -->

    <section id=blockquote>
      <blockquote>
        A very wise statement about the new identity goes here on two lines.
        A very wise statement about the new identity goes here on two lines.
      </blockquote>
    </section>


    <!-- IDENTITY SECTION -->

    <section id="identity">

    <!-- Identity Banner -->

      <div>
        <h3>
          Identity
        </h3>
        <a href="#identity">
          <img src="assets/accordian_sml_down.svg" alt="">
        </a>
      </div>

    <!--Master Logo-->

      <div>
        <h4>
        Logotype / Master
        </h4>

        <!--Download Master zip file-->
        <a href="assets/logo-packages/cowan-logotypes-master.zip" download>
          <img src="assets/download-icon.svg" alt="Download">
        </a>

        <!--Master Logo-->

        <img src="assets/cowan-logotype-master.png" alt="Cowan Master Logotype">

        <!--Variations of Master logo go here -->

        <div class="grid">

          <div class="col-4"> <!--Logo Variation 1-->
            <img src="assets/cowan-logotype-blue.png" alt="Cowan Master Logotype Blue">
          </div>

          <div class="col-4"> <!--Logo Variation 2-->
            <img src="assets/cowan-logotype-darkgrey.png" alt="Cowan Master Logotype Dark Grey">
          </div>

          <div class="col-4"> <!--Logo Variation 3-->
            <img src="assets/cowan-logotype-lightgrey.png" alt="Cowan Master Logotype Light Grey">
          </div>

        </div>
      </div>


    <!--Secondary Logos go here -->

      <div>
        <h4>
        Logotype / Secondary
        </h4>

        <!--Download Secondary zip file -->

        <a href="assets/logo-packages/cowan-logotypes-secondary.zip" download>
          <img src="assets/download-icon.svg" alt="Download">
        </a>

        <!--Secondary Logo-->

        <img src="assets/cowan-logotype-master.png" alt="Cowan Secondary Logotype">

        <!--Variations of Secondary logo go here -->

        <div class="grid">

          <div class="col-4"> <!--Logo Variation 1-->
            <img src="assets/cowan-logotype-blue.png" alt="Cowan Secondary Logotype Blue">
          </div>

          <div class="col-4"> <!--Logo Variation 2-->
            <img src="assets/cowan-logotype-darkgrey.png" alt="Cowan Secondary Logotype Dark Grey">
          </div>

          <div class="col-4"> <!--Logo Variation 3-->
            <img src="assets/cowan-logotype-lightgrey.png" alt="Cowan Secondary Logotype Light Grey">
          </div>

        </div>
      </div>

    <!--Lockup Logos go here -->

      <div>
        <h4>
        Logotype / Lockups
        </h4>

        <!--Download Lockups zip file -->

        <a href="assets/logo-packages/cowan-logotypes-lockups.zip" download>
          <img src="assets/download-icon.svg" alt="Download">
        </a>

        <img src="assets/cowan-logotype-lockup-horiz.png" alt="Cowan Lockup Horizontal">
        <img src="assets/cowan-logotype-lockup-vert.png" alt="Cowan Lockup Vertical">
      </div>


      <!--Iconography goes here -->

      <div>
        <h4>
        Logotype / Iconography
        </h4>

        <!--Download Icon zip file -->

        <a href="assets/logo-packages/cowan-logotypes-icons.zip" download>
          <img src="assets/download-icon.svg" alt="Download">
        </a>


        <img src="assets/cowan-logotype-lockup-horiz.png" alt="Cowan Icon">

        <!--Variations of Icons go here -->
        <div class="grid">

          <div class="col-4"> <!--Icon Variation 1-->
            <img src="assets/cowan-logotype-blue.png" alt="Cowan Icon Blue">
          </div>

          <div class="col-4"> <!--Icon Variation 2-->
            <img src="assets/cowan-logotype-darkgrey.png" alt="Cowan Icon Dark Grey">
          </div>

          <div class="col-4"> <!--Icon Variation 3-->
            <img src="assets/cowan-logotype-lightgrey.png" alt="Cowan Icon Light Grey">
          </div>

          <div>
            <a href="assets/logo-packages/cowan-logos.zip">Download Identity
              <img src="assets/download-icon.svg">
            </a>
          </div>
        </div>
      </div>
    </section>


  <!--VISUAL LANGUAGE-->

    <section id="visual-language">

      <!-- Visual Language Banner -->

      <div>
        <h3>
          Visual Language
        </h3>
        <a href="#visuallanguage">
          <img src="assets/accordian_sml_down.svg" alt="">
        </a>
      </div>

      <!-- Colour Title -->

      <div>
        <h3>
          Colour
        </h3>
        <hr>
      </div>

      <!-- Master Colours Title -->

      <h4>
        Master
      </h4>

        <!-- Master Colour swatch grid -->

      <div class="grid">

        {% for item in page.master-colors %}

        <div class="col-2">
          <div class="colour-square" style="background-color:#{{item.hex}}"></div> <!--colour-fill-->
          <p> {{item.name}} </p>
          <p> Hex: {{item.hex}} </p>
          <p> RGBa: {{item.rgba}} </p>
          <p> CMYK: {{item.cymk}} </p>
          <p> PMS: {{item.pms}} </p>
        </div>

        {% endfor %}

      </div>
      <hr>

      <!-- Secondary Colours Title -->

      <h4>
        Secondary
      </h4>


      <div class="grid">

          {% for item in page.secondary-colors %}

        <div class="col-2">
          <div></div> <!--colour-fill-->
          <p> {{item.name}} </p>
          <p> Hex: {{item.hex}} </p>
          <p> RGBa: {{item.rgba}} </p>
          <p> CMYK: {{item.cymk}} </p>
          <p> PMS: {{item.pms}} </p>
        </div>

        {% endfor %}

      </div>
      <hr>

      <!-- Tints & Shades Title -->

      <h4>
        Tints & Shades
      </h4>

      <!-- Tints & Shades swatch grid -->

      <div class="grid-10">

        {% for item in page.tints_shades %}

        <div class="col">
          <div class="colour-square" style="background-color:#{{item.hex}}"></div> <!--colour-fill-->
          <p> {{item.name}} </p>
          <p> Hex: {{item.hex}} </p>
        </div>

        {% endfor %}

    </div>
    <hr>

      <!-- Gradients Title -->

      <h4>
        Gradients
      </h4>

      <!-- Gradient 1 -->

  {% for item in page.gradients %}
      <div style="background: linear-gradient (to right, #{{item.color1}}, #{{item.color2}})">
      </div>
      <div class="grid">
        <p class="col-6">
          #{{item.color1}}
        </p>
        <p class="col-6">
          #{{item.color2}}
        </p>
      </div>

  {% endfor %}

      <hr>

      <!-- TYPOGRAPHY -->
      <!-- Typography Title -->

      <h3>
        Typography
      </h3>

      <!--Insert download button here-->
      <a href="..."></a>
      <!--Insert download button here-->

      <div class="grid">
        <div class="col-4">
          <p>
            Headlines / Font Name / Point Size / Line Height
          </p>
          <p>
            Subtitles / Font Name / Point Size / Line Height
          </p>
          <p>
            Small Subtitles / Font Name / Point Size / Line Height
          </p>
          <p>
            Body Copy / Font Name / Point Size / Line Height
          </p>
        </div>
        <div class="col-8">
          <h1>
            Headlines / Font Name / Point Size / Line Height
          </h1>
          <h2>
            Subtitles / Font Name / Point Size / Line Height
          </h2>
          <h3>
            Small Subtitles / Font Name / Point Size / Line Height
          </h3>
          <p>
            Body Copy / Font Name / Point Size / Line Height
          </p>
        </div>
      </div>
    </section>

  <!-- COLLATERAL -->

    <section id="collateral">

      <!-- Collateral Banner -->

      <div>
        <h3>
          Collateral
        </h3>
        <a href="#collateral">
          <img src="assets/accordian_sml_down.svg" alt="">
        </a>
      </div>

      <!-- Collateral Title -->

      <div class="grid">

        {{% for item in page.collateral %}}

    <!-- COLLATERAL / STATIONERY SECTION -->

        <div class="col-4">
          <h3>
            {{item.collateral-type}}
          </h3>
          <hr>
          <p>
            {{item.description}}
          </p>
        </div>

        <div class="col-8"> {{% for picture in item.image %}}
          <img src="{{picture.image_path}}" alt="{{picture.alt}}">

          {{% endfor %}}

        </div>

        {{% endfor %}}

      </div>

    <!-- FOOTER -->

    <footer>
      <a href="https://www.cowan.com/" target="_blank">
        <img src="assets/cowan-logo-footer.svg" alt="Cowan">
      </a>
    </footer>

  </body>
</html>
