---
master-colors:
  - name: Cowan blue
    hex: '#7ab1e8'
    rgba: 122. 177. 232. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: Cowan blue 2
    hex: '#9ad1d4'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan aqua
    hex: '#c1dff0'
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: Cowan green
    hex: '#ddedaa'
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: Cowan cream
    hex: '#ffe8d1'
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: Cowan pink
    hex: '#ffe8d1'
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
secondary-colors:
  - name: Cowan grey
    hex: '#828a95'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan light grey
    hex: '#dbdbdb'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan teal
    hex: '#bee3db'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan apricot
    hex: '#f7c59f'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan peach
    hex: '#f7c59f'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan lime
    hex: '#edeec0'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
tints_shades:
  - name: Cowan blue s12
    hex: '#113b65'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s11
    hex: '#000000'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s10
    hex: '#174f87'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s9
    hex: '#1a5997'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s8
    hex: '#1d63a8'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s7
    hex: '#206cb9'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s6
    hex: '#2376c9'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s5
    hex: '#2680da'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s4
    hex: '#378adc'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s3
    hex: '#4894df'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s2
    hex: '#599de2'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s1
    hex: '#69a7e5'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue
    hex: '#7ab1e8'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t1
    hex: '#8bbbeb'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t2
    hex: '#9bc5ee'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t3
    hex: '#accef1'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t4
    hex: '#bdd8f4'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t5
    hex: '#cee2f6'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t6
    hex: '#deecf9'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t7
    hex: '#eff6fc'
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
gradients:
  - color1: 378adc
    color2: 7ab1e8
  - color1: 378adc
    color2: bdd8f4
  - color1: 7ab1e8
    color2: eff6fc
collateral:
  - collateral-type: Stationery
    description: Suite of digital & print applications of the new identity.
    picture:
      - image_path: /uploads/stationery-image1.jpg
        alt: stationery-image1
      - image_path: /uploads/stationery-image1-1.jpg
        alt: stationery-image2
      - image_path: /uploads/stationery-image1-2.jpg
        alt: stationery-image3
      - image_path: /uploads/stationery-image1-2.jpg
        alt: stationery-image4
  - collateral-type: Packaging
    description: >-
      A retail background in a design agency founder is unexpected, although it
      helps explain why Cowan is a little different. Mark Cowan’s passion for
      understanding shopper behaviour began while working in stores at
      Australian Safeway. He observed shopper patterns with interest and was
      intrigued. When he moved into a marketing and buying role, he saw
      countless launches and a common success factor was how much packaging
      influenced shoppers.
    picture:
      - image_path: /uploads/packaging-image1.jpg
        alt: packaging-image1
      - image_path: /uploads/packaging-image2.jpg
        alt: packaging-image2
      - image_path: /uploads/packaging-image3.jpg
        alt: packaging-image3
      - image_path: /uploads/packaging-image4.jpg
        alt: packaging-image4
  - collateral-type: e-Commerce
    description: Suite of digital applications using the new identity.
    picture:
      - image_path: /assets/placeholder-16x9.svg
        alt: placeholder
      - image_path: /assets/placeholder-16x9.svg
        alt: placeholder
      - image_path: /assets/placeholder-16x9.svg
        alt: placeholder
      - image_path: /assets/placeholder-16x9.svg
        alt: placeholder
---

<!DOCTYPE html>
<html>
<head> {% include head.html %} </head>

  <body class="menu-hidden">

  <!-- Header / Landing Page -->

    <header id="header">
      <a href="https://cowan.com.au" target="_blank">
        <img src="assets/cowan-logotype-white-1000px.svg" alt="Cowan" />
      </a>

      <div>
          <h1 class="editable">
            Brand Name
          </h1>
          <h2>
            Design System
          </h2>
      </div>

      <a href="#blockquote"> <!--This id references Blockquote section & scrolls down -->
        <img src="assets/accordian_lge_down.svg" alt="" />
      </a>
    </header>

  <!-- Sticky Navigation -->

    <section class="navigation grid-spaceBetween-middle">
      <a href="#header">
        <p>
          <span class="text-bold-400 editable"> Brand Name </span> Design System
        </p>
      </a>
      <a class="identity-finder" href="#identity">Identity</a>
      <a class="visual-language-finder" href="#visual-language">Visual Language</a>
      <a class="collateral-finder" href="#collateral">Collateral</a>
      <a href="https://www.cowan.com/" target="_blank">
        <img src="assets/cowan-logo-navigation.svg" alt="Cowan" />
      </a>
    </section>


  <!-- Blockquote -->

    <section id=blockquote>
      <blockquote class="show-me editable">
        Cowan's brand identity embodies three harmonious elements; simplicity, collaboration and courage.
      </blockquote>
    </section>


    <!-- IDENTITY SECTION -->

    <section class="dropdown-section identity-section">
      <span class="id-destination" id="identity"></span>

    <!-- Identity Banner -->

      <a href=#identity class="flex-central-stack expand-adapt identity">
        <h3>
          Identity
        </h3>
        <div class="accordian-icon-swivel">
          <img src="assets/accordian_sml_down.svg" alt="" />
        </div>
      </a>

    <!--Logotype Title-->

    <div class="dropdown-content identity-content padding5">
      <div>
        <h3 class="color-blue">
          Logotype
        </h3>
        <hr class="hr-short" />
      </div>

      <!--Master Logo Section-->

      <div>
        <div class="grid-middle-center">
          <h4 class="col">
          Master
          </h4>

          <!--Download Master zip file-->

          <a class="col align-right" href="assets/logo-packages/cowan-logotypes-master.zip" download>
            <img src="assets/download-icon.svg" alt="Download" />
          </a>
        </div>

        <!--Master Logo-->

        <div class="show-me align-center max-width-900">
          <img class="editable" src="assets/cowan-logotype-master.png" alt="Cowan Master Logotype" />

          <!--Variations of Master logo go here -->

          <div class="grid-middle-center">

            <div class="col-3"> <!--Logo Variation 1-->
              <img class="editable" src="assets/cowan-logotype-blue.png" alt="Cowan Master Logotype Blue" />
            </div>

            <div class="col-3"> <!--Logo Variation 2-->
              <img class="editable" src="assets/cowan-logotype-darkgrey.png" alt="Cowan Master Logotype Dark Grey" />
            </div>

            <div class="col-3"> <!--Logo Variation 3-->
              <img class="editable" src="assets/cowan-logotype-lightgrey.png" alt="Cowan Master Logotype Light Grey" />
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-long" />


    <!--Secondary Logos Section -->

      <div>
        <div class="grid-middle-center">
          <h4 class="col">
          Secondary
          </h4>

          <!--Download Secondary zip file -->

          <a class="col align-right" href="assets/logo-packages/cowan-logotypes-secondary.zip" download>
            <img src="assets/download-icon.svg" alt="Download" />
          </a>
        </div>

        <!--Secondary Logo-->

        <div class="show-me align-center max-width-900">
          <img class="editable" src="assets/cowan-logotype-master.png" alt="Cowan Secondary Logotype" />

          <!--Variations of Secondary logo go here -->

          <div class="grid-middle-center">

            <div class="col-3"> <!--Logo Variation 1-->
              <img class="editable" src="assets/cowan-logotype-blue.png" alt="Cowan Secondary Logotype Blue" />
            </div>

            <div class="col-3"> <!--Logo Variation 2-->
              <img class="editable" src="assets/cowan-logotype-darkgrey.png" alt="Cowan Secondary Logotype Dark Grey" />
            </div>

            <div class="col-3"> <!--Logo Variation 3-->
              <img class="editable" src="assets/cowan-logotype-lightgrey.png" alt="Cowan Secondary Logotype Light Grey" />
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-long" />

    <!--Lockup Logos go here -->

      <div>
        <div class="grid-middle-center">
          <h4 class="col">
          Lockups
          </h4>
          <!--Download Lockups zip file -->
          <a class="col align-right" href="assets/logo-packages/cowan-logotypes-lockups.zip" download>
            <img src="assets/download-icon.svg" alt="Download" />
          </a>
        </div>

          <div class="show-me align-center max-width-900">
            <img class="editable" src="assets/cowan-logotype-lockup-horiz.png" alt="Cowan Lockup Horizontal" />
            <img class="editable" src="assets/cowan-logotype-lockup-vert.png" alt="Cowan Lockup Vertical" />
          </div>
        </div>
      <hr class="hr-long" />


      <!--Iconography Section -->

      <div>
        <div class="grid-middle-center">
          <h4 class="col">
          Iconography
          </h4>
          <!--Download Icon zip file -->
          <a class="col align-right" href="assets/logo-packages/cowan-logotypes-icons.zip" download>
            <img src="assets/download-icon.svg" alt="Download" />
          </a>
        </div>

        <!--Main Icon-->
        <div class="show-me align-center max-width-900">
          <img class="editable" src="assets/icons/cowan-icon-blue.svg" alt="Cowan Icon" />

          <!--Variations of Icons go here -->

          <div class="grid-middle-center">

            <div class="col-3"> <!--Icon Variation 1-->
              <img class="editable" src="assets/icons/cowan-icon-white_on_blue.svg" alt="Cowan Icon White on Blue" />
            </div>

            <div class="col-3"> <!--Icon Variation 2-->
              <img class="editable" src="assets/icons/cowan-icon-black_on_white.svg" alt="Cowan Icon Black" />
            </div>

            <div class="col-3"> <!--Icon Variation 3-->
              <img class="editable" src="assets/icons/cowan-icon-darkgrey_on_lightgrey.svg" alt="Cowan Icon Light Grey" />
            </div>
          </div>

        <!--Download Logos-->

          <div class="grid-middle-center download-padding">
            <a href="assets/logo-packages/cowan-logos.zip">Download Identity
              <img src="assets/download-icon.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--VISUAL LANGUAGE-->

    <section class="dropdown-section visual-language-section"><span class="id-destination" id="visual-language"></span>

      <!-- Visual Language Banner -->

      <a href="#visual-language" class="flex-central-stack visual-language expand-adapt">
        <h3 class="editable">
          Visual Language
        </h3>
        <div class="accordian-icon-swivel">
          <img src="assets/accordian_sml_down.svg" alt="" />
        </div>
      </a>

      <!-- Colour Title -->

      <div class="dropdown-content visual-language-content padding5">
        <div>
          <h3 class="color-blue">
            Colour
          </h3>
          <hr class="hr-short" />
        </div>

        <!-- Master Colours Title -->

        <h4>
          Master
        </h4>

          <!-- Master Colour swatch grid -->

        <div class="show-me grid">

          {% for item in page.master-colors %}

          <div class="col-2">
            <div class="color-tile-lge" style="background-color:#{{item.hex}}"></div> <!--colour-fill-->
            <p class="text-bold-400"> {{item.name}} </p>
            <p></p>
            <p> Hex: #{{item.hex}} </p>
            <p> RGBa: {{item.rgba}} </p>
            <p> CMYK: {{item.cymk}} </p>
            <p> PMS: {{item.pms}} </p>
          </div>

          {% endfor %}

        </div>
        <hr class="hr-long" />

        <!-- Secondary Colours Title -->

        <h4>
          Secondary
        </h4>


        <div class="show-me grid">

            {% for item in page.secondary-colors %}

          <div class="col-2">
            <div class="color-tile-lge" style="background-color:#{{item.hex}}"></div> <!--colour-fill-->
            <p class="text-bold-400"> {{item.name}} </p>
            <p> Hex: #{{item.hex}} </p>
            <p> RGBa: {{item.rgba}} </p>
            <p> CMYK: {{item.cymk}} </p>
            <p> PMS: {{item.pms}} </p>
          </div>

          {% endfor %}

        </div>
        <hr class="hr-long" />

        <!-- Tints & Shades Title -->

        <h4>
          Tints & Shades
        </h4>

        <!-- Tints & Shades swatch grid -->

        <div class="show-me grid-10">

          {% for item in page.tints_shades %}

          <div class="col">
            <div class="color-tile-sml" style="background-color:#{{item.hex}}"></div> <!--colour-fill-->
            <p class="text-bold-400"> {{item.name}} </p>
          <p> Hex: #{{item.hex}} </p>
          </div>

          {% endfor %}

        </div>
        <hr class="hr-long" />

        <!-- Gradients Title -->

        <h4>
          Gradients
        </h4>

        <!-- Gradient 1 -->

    {% for item in page.gradients %}
        <div class="show-me colorgradient" style="background: linear-gradient(to right, #{{item.color1}}, #{{item.color2}})">
        </div>
        <div class="show-me grid">
          <p class="col-6">
            #{{item.color1}}
          </p>
          <p class="show-me align-right col-6">
            #{{item.color2}}
          </p>
        </div>

    {% endfor %}

        <hr class="hr-long" />

        <!-- TYPOGRAPHY -->
        <!-- Typography Title -->

        <h3 class="color-blue">
          Typography
        </h3>
        <hr class="hr-short" />

        <!--Insert download button here-->
        <a href="..."></a>
        <!--Insert download button here-->

        <div class="show-me grid-top">
          <div class="large-type-padding col-4">
            <p class="editable">
              <span class="text-bold-400"> Headlines </span>  / Font Name / Point Size / Line Height
            </p>
          </div>

          <div class="large-type-padding col-8">
            <p class="large-type color-grey editable">
              We design answers.<span class="linebreak">1234567890*!&amp;£$@</span>
            </p>
          </div>

          <div class="medium-type-padding col-4">
            <p class="editable">
              <span class="text-bold-400"> Subtitles </span>  / Font Name / Point Size / Line Height
            </p>
          </div>

          <div class="medium-type-padding col-8">
            <p class="medium-type color-grey editable">
              We design answers.<span class="linebreak">1234567890*!&amp;£$@</span>
            </p>
          </div>

          <div class="small-type-padding col-4">
            <p class="editable">
              <span class="text-bold-400 editable"> Small Subtitles </span> / Font Name / Point Size / Line Height
            </p>
          </div>

          <div class="small-type-padding col-8">
            <p class="small-type color-grey editable">
              We design answers.<span class="linebreak">1234567890*!&amp;£$@</span>
            </p>
          </div>

          <div class="xsmall-type-padding col-4">
            <p class="editable">
              <span class="text-bold-400 editable"> Body Copy </span> / Font Name / Point Size / Line Height
            </p>
          </div>

          <div class="xsmall-type-padding col-8">
            <p class="xsmall-type color-grey editable">
              We design answers. Our purpose is to realise potential. Our role is to help brands become more successful. Our shopper-centric approach has been crafted over 30 years to simplify brand choice and connect consumers to brands. Every brand has the potential to be more. Born in Australia, Cowan blends ambition with strategy to create, shape and reframe brands to captivate and engage. 1234567890*!&amp;£$@
            </p>
          </div>

          <!--Download Typography-->

          <div class="grid-middle-center download-padding">
            <a href="assets/cowan-typography.zip">Download Typography
              <img src="assets/download-icon.svg" />
            </a>
          </div>
        </div>
      </div>
    </section>

  <!-- COLLATERAL -->

    <section class="dropdown-section collateral-section"><span class="id-destination" id="collateral"></span>

      <!-- Collateral Banner -->

      <a href="#collateral" class="flex-central-stack collateral expand-adapt">
        <h3>
          Collateral
        </h3>
        <div class="accordian-icon-swivel">
          <img src="assets/accordian_sml_down.svg" alt="" />
        </div>
      </a>

      <!-- Collateral Title -->

      <div class="dropdown-content collateral-content padding5">
        <div class="grid">

        {% for item in page.collateral %}

    <!-- COLLATERAL / STATIONERY SECTION -->

        <div class="col-4">
          <h3 class="color-blue">
            {{item.collateral-type}}
          </h3>
          <hr class="hr-short" />
          <p>
            {{item.description}}
          </p>
        </div>

        <div class="align-right col-8">
          {% for picture in item.picture %}
          <img class="padding-bottom" src="{{picture.image_path}}" alt="{{picture.alt}}" />

          {% endfor %}

        </div>

        {% endfor %}

        </div>
      </div>

    <!-- FOOTER -->

    <footer>
      <a href="https://www.cowan.com/" target="_blank">
        <img src="assets/cowan-logo-footer.svg" alt="Cowan" />
      </a>
    </footer>

    <a href="#header">
      <img class="scroll-top-icon" src="/assets/scroll-top_icon.svg" />
    </a>
    <!--JAVASCRIPT-->

    {% include body-scripts.html %}

  </section></body>
</html>
